[Unit]
Description=Oasis Hub Flask App
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=occnj
WorkingDirectory=/home/occnj/occ_hub
Environment="PATH=/home/occnj/occ_hub/venv/bin"
Environment="SECRET_KEY=89399d8cbd557f9d012df93ebee102e7737d9a287a3ee8397a6bc292df5a28b7"
Environment="MAIL_USERNAME=media@oasisnj.net"
Environment="MAIL_PASSWORD=Oasis2052"
ExecStart=/home/occnj/occ_hub/venv/bin/gunicorn \
    --workers 2 \
    --bind 0.0.0.0:5500 \
    --timeout 60 \
    --access-logfile /home/occnj/occ_hub/access.log \
    --error-logfile /home/occnj/occ_hub/error.log \
    member:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
