LOG_PATH=/home/occnj/occ_hub/error.log
SQLITE_DB_PATH=/home/occnj/occ_hub/oasis.db
SERVICE_NAME=oasis-hub.service
WINDOW_SECONDS=300
MIN_500S=2
MAX_RESTARTS=1
ALERT_TO=media@oasisnj.net
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=media@oasisnj.net
# SMTP_PASSWORD=
